@model B4T.IdentityProvider.Models.LoginViewModel


<div class="login-page container">

    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card border-secondary bg-white login-card">
                <div class="border-bottom float-left p-3">
                    <img id="loginLogo" src=@Model.LogoUrl class="login-card-logo">
                </div>
                <div class="px-5 pt-5">
                    <h2>
                        Sign In
                    </h2>
                </div>

                <div class="card-body text-center px-5 pb-5 pt-0">

                    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                    {
                        <div class="alert alert-warning">
                            <strong>Invalid login request</strong>
                            There are no login schemes configured for this client.
                        </div>
                    }

                    @if (Model.EnableLocalLogin)
                    {
                        <div class="h6 small text-left login-error">
                            @if (ViewContext.ModelState.IsValid == false)
                            {
                                <ul class="list-group list-group-flush">
                                    @foreach (var modelError in
                                      ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                                    {
                                        <li class="list-group-item">@modelError.ErrorMessage</li>
                                    }
                                </ul>
                            }
                        </div>

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group ">
                                    <div class="mdc-text-field mdc-text-field--outlined my-2">
                                        <input class="mdc-text-field__input" type="text" id="text-field-username-input" asp-for="Username" autofocus>
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label for="text-field-username-input" class="mdc-floating-label">Username</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>

                                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon my-2">
                                        <!--<i class="material-icons mdc-text-field__icon">visibility</i>-->
                                        <input class="mdc-text-field__input" type="password" id="pwd" asp-for="Password" autocomplete="off">
                                        <div class="mdc-notched-outline">
                                            <div class="mdc-notched-outline__leading"></div>
                                            <div class="mdc-notched-outline__notch">
                                                <label for="pwd" class="mdc-floating-label">Password</label>
                                            </div>
                                            <div class="mdc-notched-outline__trailing"></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group d-flex justify-content-between h6 small">
                                    @if (Model.AllowRememberLogin)
                                    {
                                        <div class="form-group mx-2">
                                            <div class="mdc-switch">
                                                <div class="mdc-switch__track"></div>
                                                <div class="mdc-switch__thumb-underlay">
                                                    <div class="mdc-switch__thumb">
                                                        <input type="checkbox" id="rememberMe-switch" class="mdc-switch__native-control" role="switch" asp-for="RememberLogin">
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="text-nowrap" for="rememberMe-switch">&nbsp;Remember me</label>
                                        </div>
                                    }

                                    <!--
                                    <div>
                                        <a class="text-nowrap" href="#">
                                            <span class="font-weight-bold">Forgot password</span>
                                        </a>
                                    </div>
        -->
                                </div>

                                <div class="form-group">
                                    <button id="loginButton" class="btn btn-primary btn-block" name="button" value="login" disabled>Sign in</button>
                                </div>

                                <div id="externalProviders" class="external-providers text-center">
                                    @if (Model.VisibleExternalProviders.Any())
                                    {
                                        <p class="text-nowrap h6 small">- or -</p>
                                        @foreach (var provider in Model.VisibleExternalProviders)
                                        {
                                            <a class="btn btn-primary btn-block"
                                               asp-controller="External"
                                               asp-action="Challenge"
                                               asp-route-provider="@provider.AuthenticationScheme"
                                               asp-route-returnUrl="@Model.ReturnUrl">
                                                @provider.DisplayName
                                            </a>
                                        }
                                    }
                                </div>
                            </fieldset>
                        </form>
                    }
                </div>

                <!--
    <div class="login-card-footer pt-5">
        &copy; @DateTime.UtcNow.Year.ToString() Book4Time Inc.  All rights reserved.<br />
    </div>
        -->
            </div>


        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/externalLogin.js"></script>
}
