﻿@using IdentityServer4.Extensions
@using B4T.IdentityProvider.Extensions
@{    
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {                
        name = Context.User?.Identity.GetUserNameIdentifier();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Booking</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/material/material-components-web.min.css" />   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/material/material-components-web.min.js"></script>
    
    @RenderSection("scripts", required: false)

</body>
</html>
