﻿body {
    margin-top: 65px;    
}
.navbar-header {
  position: relative;
  top: -4px;
}
.navbar-brand > .icon-banner {
  position: relative;
  top: -2px;
  display: inline;
}
.icon {
  position: relative;
  top: -10px;
}
.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}
.page-consent .client-logo {
  float: left;
}
.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}
.page-consent .consent-buttons {
  margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.page-consent .consent-form .consent-description {
  margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
  font-weight: normal;
}
.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}
.grants .page-header {
  margin-bottom: 10px;
}
.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.grants .grant img {
  width: 100px;
  height: 100px;
}
.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}
.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant li {
  list-style-type: none;
  display: inline;
}
.grants .grant li:after {
  content: ', ';
}
.grants .grant li:last-child:after {
  content: '';
}






/* Override Bootstrap default start */
.btn-primary {
    color: #fff;
    background-color: #4a90e2;
    border-color: #4a90e2;
}

    .btn-primary:hover {
        color: #fff !important;
        background-color: #4a90e2 !important;
        border-color: #4a90e2 !important;
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        opacity: 0.5;
        background-color: #4a90e2;
        border-color: #4a90e2;
    }



.list-group {
    padding-top: .25rem;
}

.list-group-item {        
    padding: .25rem .25rem; 
    margin-bottom: 0px;     
    border: 0px;
}
/* Override Bootstrap default end */



/* Override Material design start*/

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: #4a90e2;
}


.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #4a90e2;
}



.mdc-text-field--outlined {
    width: 100%;
}
    

.mdc-switch {
    --mdc-theme-secondary: #4a90e2;
}
/* Override Material design end*/


/* --App custom style start-- */

body {
    /*background-image: linear-gradient(to left, #7642e2, #14a2ec 50%, #24c1d0);*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Hide external provider by default*/
.external-providers {
   /* display: none;*/
}

.login-card {
    width: 375px;
}

.login-card-logo {
    width: 160px;    
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.login-card-footer {
    padding: .75rem 1.25rem;
    font-size: 10px;
    line-height: 18px;
}

.login-error {
    color: #d0021b;
    height: 20px;    

}
/* --App custom style end-- */